
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap');

h2{
    font-size: 43px;
    font-weight: 700;
}
.footer-1 {
    background-color: #234650;
}
.btn_link {
    position: relative;
    float: left;
    padding: 6px;
    line-height: 0;
}
.footer-img {
    margin-left: 10px;
    vertical-align: middle;
    width: 15px;
}
.brack {
    background-color: #071621;
    border: 1px solid #50616d;
    border-top: 0px;
    border-bottom: 0px;
    padding: 3px;
    font-size: 11px;
}
.header__right ul li a{
    display: inline-block;
}
.header__right ul li svg{
    height: 23px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.header__right ul li svg:hover path,
.community ul li svg:hover path{
    fill: #ff008f;
}
.footer-corner {
    width: 5px;
    height: 25px;
    position: absolute;
}
.footer-corner-l {
    right: 15px;
    border-top: 1px solid #50616d;
    border-bottom: 1px solid #50616d;
}
.footer-corner-r {
    left: 15px;
    border-top: 1px solid #50616d;
    border-bottom: 1px solid #50616d;
}
.footer-divide {
    color: #ffffff;
    margin: 0px 10px;
}
.footer-value {
    color: #01F3FC;
}
.bounties {
    display: inline-block;
    margin-top: 7px;
}
.bounties_btn {
    line-height: 30px;
    font-size: 12px;
    padding: 5px 10px;
}
.bounty:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #60cae9;
    opacity: .2;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    margin: 5px;
}
.bounty:hover {
    background-color: #60cae9;
    color: #0a1923;
    cursor: pointer;
}
#mCSB_1, #mCSB_2, #mCSB_3, #mCSB_4, #mCSB_5, #mCSB_11, #mCSB_12, #mCSB_13, #mCSB_14, #mCSB_15, #mCSB_16, #mCSB_17, #mCSB_18, #mCSB_19, #mCSB_20, #mCSB_21, #mCSB_22, #mCSB_23, #mCSB_24, #mCSB_25 {
    color: #ffffff;
}
#mCSB_6, #mCSB_7, #mCSB_8, #mCSB_9, #mCSB_10 {
    color: #ffffff;
}
.item_icon {
    float: left;
}
.item_text {
    margin-left: 50px;
    text-align: left;
    line-height: 1.7;
    color: #ffffff;
}
.item_text a {
    color: #60cae9;
}
.d-table-cell p {
    font-size: 15px;
    font-weight: 800;
}
.music_btn {
    position: absolute;
    top: 120px;
    left: 20px;
    background: rgba(255, 255, 255, 0.15);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    display: block;
}

.js-marquee{
    margin-right:0px !important;
    display: flex;
}
.inner-marquee-top{
    display: flex;
}
.inner-marquee-top .inner-marquee:first-child:before{
    display: none;
}

/* about */
.two-part-sec{
    display: flex;
    align-items: center;
}
.adobe-left{
    padding: 0 40px;
}
.adobe-left img{
    max-width: 450px;
    width: 100%;
}
.s_4 .adobe-left img{
    max-width: 500px;
}
.about-right{
    padding: 0 40px;
    max-width: 795px;
    width: 100%;
}
.about-right h2{
    font-size: 43px;
    text-transform: uppercase;
}
.s_3 .about-right h2{
    text-align: left;
}
.s_1 .about-right h2{
    margin-bottom: 37px;
}
.about-right p{
    line-height: 2;
}
.about-buttons{
    max-width: 590px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about-buttons button{
    height: 50px;
    width: 260px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 6px;
    font-size: 19px;
    color: #FFFFFF;
}
.claim-tokens{
    background: transparent linear-gradient(-90deg, #00F5FC 0%, #133AFA 100%) 0% 0% no-repeat padding-box;
    position: relative;
}
/* about end */

/* GOVERNANCE & UTILITY TOKEN START */
    .governance-hedding{
        text-align: left;
    }
/* GOVERNANCE & UTILITY TOKEN END */


/* button border comune start*/
.gaming-btn{
    border: none;
}
.gaming-btn::before{
    content: "";
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 24px;
    height: 24px;
    border: 2px solid #00F4FC;
    border-width: 0px 2px 2px 0px;
    transition: 0.3s;
}
.gaming-btn::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 24px;
    height: 24px;
    border: 2px solid #133BFA;
    border-width: 2px 0px 0px 2px;
    transition: 0.3s;
}
.gaming-btn:hover.gaming-btn::after{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}
.gaming-btn:hover.gaming-btn::before{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}
/* button border comune end*/

/* TOKENOMICS */
.launch-dao{
    background: #FF008F 0% 0% no-repeat padding-box;
    position: relative;
}
.launch-dao::before{
    content: "";
    border: 2px solid #FF008F;
    border-width: 0px 2px 2px 0px;
}
.launch-dao::after{
    content: "";
    border: 2px solid #FF008F;
    border-width: 2px 0px 0px 2px;
}
.learn-more-btn{
    background: transparent;
    position: relative;
    border: 2px solid #fff;
}
.learn-more-btn::before{
    content: "";
    border: 2px solid #fff;
    border-width: 0px 2px 2px 0px;
}
.learn-more-btn::after{
    content: "";
    border: 2px solid #fff;
    border-width: 2px 0px 0px 2px;
}
/* TOKENOMICS END*/

/* DISTRIBUTION */
.solo-part-sec{
    max-width: 1160px;
    width: 100%;
    margin: 0 0 0 7%;
    text-align: center;
}
.solo-part-sec p{
    line-height: 1.7;
    text-align: center;
}
/* DISTRIBUTION END*/

/* partnership*/
.partnership{
    max-width: 731PX;
    width: 100%;
    margin: 0 auto;
}
.partnership H2{
    text-align: center;
}
.partnership p{
    text-align: left;
    line-height: 1.7;
    font-size: 16px;
}
/* partnership END*/


/* FAQ page start */
.nav ul.side-bar-menu{
    display: none;
}
.faq-page-top-sec .mobile-menu{
    display: none;
}
.faq-section-main{
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
}
.faq-section-main .faq-title{
    text-align: center;
}
 .c-accordion__entry-title {
    position: relative;
}
.c-accordion__entry-header-link {
    display: block;
    padding: 10px 45px 10px 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.7;
    cursor: pointer;
    background-color: rgba(27, 82, 245, 0.16);
    padding: 10px 45px; 
}
.c-accordion__entry-body {
    display: none;
}
.c-accordion__entry-contents {
    padding: 5px 0; 
    font-size: 16px;
    line-height: 1.7;
    background-color:rgba(255, 255, 255, 0.03);
    padding: 45px;
}
.c-accordion__entry-header-icon-wrapper {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    transform: translate(0,-50%);
    transition: all .4s;
}
.c-accordion__entry-header-icon {
    display: block;
}
/* // This needs to be so specific because then we can nest accordions */
.c-accordion__entry.is-expanded > .c-accordion__entry-title > .c-accordion__entry-header-link > .c-accordion__entry-header-icon-wrapper {
    transform: translate(0,-50%) rotate(180deg);
}

/* faq start*/
.faq-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1020px;
    margin-right: 31%;
}
.faq-page-top-sec .faq-footer{
    max-width: 100%;
    margin-right: 0;
}
.center-two-menu .dao-part:first-child{
    padding-left: 0px;
}
.footer-right{
    margin-top: 30px;
}
.faq-footer h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.faq-footer a{
    padding: 7px 0;
}
.center-two-menu {
    display: flex;
}
.dao-part {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.community ul{
    display: flex;
}
.community ul li{
    padding: 12px 25px 12px 0;
}
.community ul li svg{
    height: 26px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;;
}
.inner-faq-sec{
    max-height: 50vh;
    overflow-y: auto;
}
.c-accordion__entry{
    margin-bottom: 15px;
}
/* faq end*/


/*------------Dapps start------------*/
.dapps-top-section{
    width: 100%;
    max-width: 1380px;
    margin-right: 25%;
}
.dapps-section-main::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #171d3d
}
.dapps-section-main::-webkit-scrollbar{
	height: 12px;
	background-color: rgba(255, 255, 255, 7%)
}
.dapps-section-main::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #01F3FC;
    height: 12px;
}
.dapps-text{
    text-align: center;
    margin-bottom: 6px;
}
.dapps-section{
    display: flex;
    justify-content: space-around;
    width: 2000px;
}
.dapps-section-main{
    overflow-x: auto;
    padding-bottom: 15px;
}
.traxpot, .niftywarefare{
    margin: 0 auto;
}
.traxpot-img, .niftywarefare-img{
    display: flex;
    justify-content: center;
    height: 170px;
}
.traxpot-title, .niftywarefare-title{
    text-align: center;
    font-size: 22px;
    margin-top: 21px;
    margin-bottom: 11px;
    letter-spacing: 8.16px;
    font-weight: bold;
}
.niftywarefare-content, .traxpot-content{
    margin: 0 30px;
    text-align: center;
    line-height: 30px;  
}
.dapps-title{
    text-align: center;
}

/*----------------dapps end--------------*/

/*---------------------media start--------------*/
.media-top-section{
    width: 100%;
    max-width: 1200px;
    margin-right: 25%;
}
.border-effect{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-bottom: 40px;
}
.media-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.media-logo img{
    padding: 40px 0;
    max-width: 270px;
}
.img-width{
    width: 40%;
    text-align: center;
}
.border-effect{
    position: relative;
}
.border-effect:before{
    content: "";
    position: absolute;
    background: transparent linear-gradient(270deg, #00F5FC 0%, #133AFA 100%) 0% 0% no-repeat padding-box;
    width: 99%;
    height: 8px;
    margin: 0 auto;
    bottom: -10px;
}
.border-effect:after{
    content: "";
    position: absolute;
    background: #070D2F;
    width: 50%;
    height: 8px;
    right: -2px;
    transform: skewX(30deg);
    bottom: -7px;
}
.media-heading{
    text-align: center;
}
/*---------------------media end--------------*/
/* --------------------roadmap start---------------------------- */
.roadmap-section{
    width: 100%;
    height: 100%;
}
.roadmap-part{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    background: rgb(28 35 69 / 33%);
    padding: 40px;
    flex-wrap: wrap;
    max-height: 65vh;
    overflow-y: auto;
}
.roadmap-date{
    letter-spacing: 6.16px;
    color: #ff008f;
    font-size: 21px;
    text-align: right;
    margin-right: 30px;
    font-weight: 700;
}
.right-part-one ul li{
    opacity: 1;
}
.right-part-one{
    line-height: 29px;
    position: relative;
    padding-bottom: 30px;
}
.right-part-one:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgb(1 211 218 / 43%);
}
.right-part-one.active:after{
    background-color: #FF008F;
}
.right-part-one:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #0f7b9a;
    border-radius: 100%;
    top: 0;
    left: -8px;
}
.roadmap-part .roadmap-part-two:last-child .right-part-one:before{
    display: none;
}
.roadmap-part-one{
    width: 50%;
}
.roadmap-part-two{
    width: 50%;
}
.roadmap-part-two ul {
    margin-left: 20px;
}
#style-1::-webkit-scrollbar-track,
.inner-faq-sec::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #171d3d
}
#style-1::-webkit-scrollbar,
.inner-faq-sec::-webkit-scrollbar{
	width: 12px;
	background-color: rgba(255, 255, 255, 7%)
}
#style-1::-webkit-scrollbar-thumb,
.inner-faq-sec::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #01F3FC;
    height: 100px;
}
/* --------------------roadmap end---------------------------- */
 /* DISTRIBUTION  start*/
a.canvasjs-chart-credit{
    display: none;
}
.total-tokan p:nth-child(1){
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
}
.total-tokan p:nth-child(2){
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 1.4;
}
.total-tokan {
    width: 80%;
    margin-left: auto;
    margin-top: -60px;
}
div#chartContainer {
    padding-top: 12px;
    position: relative;
}
#chartContainer:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #070d2f;
    width: 120px;
    z-index: 999;
    height: 20px;
}
 /* DISTRIBUTION  end*/
 /* governamne-deatils start*/
 .s_3 .about-right{
    margin-left: 45px;
 }
.adobe-left.governamne-deatils {
    width: 480px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.adobe-left.governamne-deatils img {
    width: 280px;
}
.adobe-left.governamne-deatils .governamne_boxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    text-align: center;
    height: 80px;
    border: 1px solid #01F2FC;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(1){
    left: 50%;
    transform: translateX(-50%);
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(1)::before {
    content: "";
    height: 1px;
    width: 141px;
    background: #01F2FC;
    position: absolute;
    right: -132px;
    top: 80px;
    transform: rotate(26deg);
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(2){
    right: 0;
    left: auto;
    top: 90px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(2)::before{
    content: "";
    height: 170px;
    width: 1px;
    background: #01F2FC;
    position: absolute;
    top: 80px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(3){
    right: 0;
    left: auto;
    top: auto;
    bottom: 110px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(3)::before{
    content: "";
    height: 1px;
    width: 151px;
    background: #01F2FC;
    position: absolute;
    left: -131px;
    top: 103px;
    transform: rotate(-26deg);
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(4){
    right: 50%;
    left: auto;
    top: auto;
    bottom: 0;
    transform: translateX(50%);
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(4)::before{
    content: "";
    height: 1px;
    width: 151px;
    background: #01F2FC;
    position: absolute;
    top: -10px;
    transform: rotate(26deg);
    right: 68px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(5){ 
    left: 0;
    top: auto;
    bottom: 110px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(5)::before{
    content: "";
    height: 170px;
    width: 1px;
    background: #01F2FC;
    position: absolute;
    top: auto;
    left: 37px;
    bottom: 80px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(6){
    left: 0;
    top: 90px;
}
.adobe-left.governamne-deatils .governamne_boxes:nth-child(6)::before{
    content: "";
    height: 1px;
    width: 142px;
    background: #01F2FC;
    position: absolute;
    left: 66px;
    top: -10px;
    transform: rotate(-26deg);
}
.governamne_boxes P{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    font-size: 10px;
}
.governamne_boxes p:hover {
    color: #FF008F;
}
.governamne_boxes:hover{
    border: 1px solid #FF008F !important;
}
.governamne_boxes p:hover::before,
.governamne_boxes p:hover::after{
    -webkit-animation: ripple 1.8s infinite ;
    -moz-animation: ripple 1.8s infinite ;
    -o-animation: ripple 1.8s infinite ;
    -ms-transition:ripple 1.8s infinite ;
	animation: ripple 1.8s infinite ;
}
.governamne_boxes p::before,.governamne_boxes p::after {
    border: 1px solid #FF008F;
	border-radius: 100%;
	margin: -20px;
	bottom: 0px;
	content: "";
	display: block;
	left: 0px;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:-1;
}
.governamne_boxes p::before {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.governamne_boxes p::after {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
@-webkit-keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
 /* governamne-deatils end*/
body .mobile-view-icon{
    display: none;
}
/* audio button */
#music_btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.text-right {
    text-align: right;
}
.d-inline-block {
    display: inline-block;
}
@media screen and (min-width: 1200px) and (max-width: 1499px){
    .governamne_boxes P{
        font-size: 9px;
    }
    .dapps-section .traxpot .traxpot-content{
        font-size: 12px;
    }
    .nav{
        font-size: 13px;
    }
    .faq-footer.container{
        max-width: 990px;
    }
    .inner-header .header__logo__img{
        max-width: 290px;
    }
    .header__right ul li svg{
        height: 20px;
    }
    .header__right ul li {
        margin: 0px 12px;
    }
    .header__right .faq-btn {
        margin-left: 60px;
        margin-right: 30px;
        padding: 8px 31px;
        font-size: 16px;
    }
    .header__right .connect-btn{
        padding: 11px 20px;
        letter-spacing: 5.16px;
    }
    .inner-header{
        padding-bottom: 5px;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1699px){
    .inner-header .header__logo__img, .faq-footer .header__logo__img {
        max-width: 350px;
    }
    .header__right ul li svg {
        height: 21px;
    }
    .inner-header{
        padding-bottom: 5px;
    }
    .header__right ul li {
        margin: 0px 15px;
    }
    .header__right .faq-btn {
        margin-left: 65px;
        margin-right: 30px;
        padding: 9px 35px;
        font-size: 16px;
    }
    .header__right .connect-btn{
        padding: 12px 20px;
        letter-spacing: 5.16px;
    }
}
@media screen and (max-width: 1023px) {
    .faq-page-top-sec .mobile-menu{
        display: block;
    }
    .total-tokan p:nth-child(2) {
        font-size: 25px;
    }
    .traxpot-img, .niftywarefare-img{
        height: 140px;
    }
    .community ul li svg {
        height: 20px;
    }
    .footer-right {
        margin-top: 0;
    }
    .nav{
        font-size: 14px;
    }
    #music_btn{
        height: 35px;
        width: 35px;
        font-size: 13px;
        margin-bottom: 0px;
    }
    .inner-header .header__logo__img, .faq-footer .header__logo__img {
        max-width: 275px;
        margin-right: 20px;
    }
    .section.s_8{
        padding-top: 30px;
    }
    .community ul li {
        padding: 12px 17px 12px 0;
    }
    .footer-right ul li img{
        max-width: 25px;
    }
    .dao-part{
        padding: 25px 20px 25px 0px;
    }
    .header__logo__img{
        width: 100%;
    }
    .faq-footer{
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: center;
    }
    .nav ul{
        display: block;
    }
    .mobile-menu{
        display: block;
        width: 100%;
    }
    .nav{
        padding-top: 60px;
    }
    .nav li{
        margin: 8px 8px;
    }
    .mobile-view-icon li img{
        height: 20px;
    }
    .header-right-mobile .btn{
        border: 2px solid #FFFFFF;
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 6.16px;
        font-weight: 700;
        color: #fff;
        margin-left: 6px;
        display: inline-block;
        margin-top: 5px;
    }
    body .mobile-view-icon{
        display: flex;
        justify-content: end;
        margin: 20px 0px 0px;
    }
    body .mobile-view-icon.header-right-mobile{
        display: block;
        width: 100%;
    }
    .c-accordion__entry-header-icon-wrapper{
        right: 5px;
    }
    .c-accordion__entry-contents{
        font-size: 14px;
        padding: 20px;
    }
    .inner-faq-sec{
        max-height: 100%;
    }
    .c-accordion__entry-header-link{
        font-size: 19px;
        line-height: 1.4;
        padding: 10px 16px;
    }
    .adobe-left.governamne-deatils .governamne_boxes{
        font-size: 10px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(6)::before{
        left: 42px;
        top: -21px;
        transform: rotate(326deg);
        width: 99px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(5)::before{
        left: 29px;
        bottom: 63px;
        height: 60px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(4)::before{
        top: -20px;
        transform: rotate(34deg);
        right: 48px;
        width: 111px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(3)::before{
        width: 113px;
        left: -81px;
        top: 93px;
        transform: rotate(327deg);
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(2)::before{
        height: 60px;
        top: 63px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(1)::before{
        right: -92px;
        top: 66px;
        width: 100px;
        transform: rotate(32deg);
    }
    .adobe-left.governamne-deatils .governamne_boxes{
        width: 65px;
        height: 65px;
    }
    .adobe-left.governamne-deatils {
        width: 330px;
        height: 390px;
    }
    .adobe-left.governamne-deatils img{
        width: 170px;
    }
    .s_3 .about-right {
        margin-left: 0;
        margin-top: 20px;
    }
    .media-logo img {
        padding: 20px 10px;
        width: 100%;
    }
    .right-part-one{
        font-size: 11px;
        line-height: 17px;
    }
    .roadmap-date{
        font-size: 15px;
        letter-spacing: 6.16px;
    }
    .roadmap-part{
        padding: 15px;
    }
    .solo-part-sec{
        margin: 0 0 0 0;
    }
    .border-effect{
        margin-bottom: 30px;
    }
    body {
        font-size: 12px;
    }
    .niftywarefare{
       margin-left: 30px;
    }
    .niftywarefare-content, .traxpot-content{
        line-height: 21px;
    }
    .traxpot-title, .niftywarefare-title{
        margin-bottom: 8px;
        font-size: 20px;
        letter-spacing: 5.16px;
    }
    .about-right p ,.solo-part-sec p{
        line-height: 1.6;
        font-size: 12px;
    }
    .border-effect:after{
        right: -1px;
    }
    .about-buttons button.launch-dao,
    .about-buttons button.learn-more-btn{
        margin-top: 30px;
    }
    .s_1 .about-right h2,
    .s_4 .adobe-left {
        margin-bottom: 25px;
    }
    .two-part-sec{
        margin-left: 0;
    }
    .about-right h2,.border-effect{
        font-size: 30px;
    }
    .two-part-sec{
        display: block;
    }
    .adobe-left,.about-right{
         padding: 0 0px; 
    }
    .s_1 .about-right{
        padding-top: 20px;
    }
    .about-buttons{
        display: block;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    .about-buttons button{
        height: 45px;
        font-size: 16px;
        letter-spacing: 4px;
        width: 220px;
    }
    .niftywarefare-content, .traxpot-content {
        margin: 0 0px;
    }
    .governamne_boxes p{
        font-size: 8px;
    }
}
@media screen and (max-width: 767px) {
    #chartContainer:before{
        background: #07103b;
        top: 10px;
        left: 0px;
        width: 64px;
        height: 13px;
    }
    body{
        background-image: none;
    }
    .dapps-section{
        width: 1470px;
    }
    .niftywarefare {
        margin-left: 20px;
    }
}
@media screen and (min-width: 650px) and (max-width: 1023px){
    .media-logo img {
        padding: 20px 40px;
    }
    .s_4 .adobe-left img {
        max-width: 350px;
    }
    .about-buttons button.launch-dao, .about-buttons button.learn-more-btn{
        margin-left: 30px;
        letter-spacing: 7px;
    }
    .adobe-left img {
        max-width: 250px;
    }
    .about-buttons{
        margin-top: 10px;
    }
}
@media screen and (min-width: 574px) and (max-width: 1023px){
    .niftywarefare {
        margin-top: 0px;
    }
    .traxpot-img, .niftywarefare-img{
        height: 165px;
    }
    .dapps-section{
        display: flex;
    }
    header.header{
        display: none;
    }
    .adobe-left img {
        max-width: 320px
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
    .community ul li svg {
        height: 18px;
    }
    .total-tokan p:nth-child(1) {
        font-size: 14px;
    }
    .total-tokan p:nth-child(2) {
        font-size: 24px;
    }
    .header__right ul li svg, .footer-right .community li img {
        height: 20px;
    }
    .faq-footer{
        max-width: 830px;
    }
    .dapps-top-section{
        max-width: 900px;
    }
    .nav li:after{
        height: 45px;
    }
    #music_btn{
        margin-right: 15px;
        height: 40px;
        width: 40px;
        font-size: 15px;
        margin-bottom: 0;
        line-height: 40px;
    }
    .inner-header .header__logo__img, .faq-footer .header__logo__img {
        max-width: 250px;
    }
    .nav li {
        margin: 18px 25px;
    }
    .c-accordion__entry-contents{
        padding: 25px;
    }
    .c-accordion__entry-header-link{
        padding: 10px 30px;
        font-size: 22px;
    }
    .solo-part-sec p{
        font-size: 12px;
    }
    .media-logo img {
        padding: 25px 0;
    }
    .media-logo{
        max-width: 910px;
    }
    .roadmap-part{
        max-width: 720px;
        padding: 30px;
        margin-right: auto;
        margin-left: 0;
    }
    .right-part-one{
        font-size: 14px;
    }
    .roadmap-date{
        letter-spacing: 6.16px;
        font-size: 17px;
    }
    .solo-part-sec {
        max-width: 770px;
        margin: 0 0 0 0%;
    }
    .s_3 .about-right {
        margin-left: 15px;
    }
    .adobe-left.governamne-deatils {
        width: 300px;
        height: 390px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(6)::before{
        left: 43px;
        top: -20px; 
        transform: rotate(325deg);
        width: 82px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(5)::before{
        left: 32px;
        bottom: 70px;
        height: 50px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(4)::before{
        top: -20px;
        transform: rotate(40deg);
        right: 48px;
        width: 92px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(3)::before{
        left: -67px;
        top: 89px;
        transform: rotate(317deg);
        width: 90px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(2)::before{
        height: 51px;
        top: 68px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(1)::before{
        right: -68px;
        top: 74px;
        transform: rotate(34deg);
        width: 80px;
    }
    .adobe-left.governamne-deatils .governamne_boxes{
        width: 70px;
        height: 70px;
        font-size: 10px;
    }
    .adobe-left.governamne-deatils img {
        width: 140px;
    }
    .border-effect{
        margin-bottom: 30px;
    }
    .niftywarefare-content, .traxpot-content{
        line-height: 22px;
        margin: 0 10px;
    }
    .traxpot-title, .niftywarefare-title{
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 7px;
        letter-spacing: 6.16px;
    }
    .traxpot-img, .niftywarefare-img{
        height: 135px;
    }
    .community ul li {
        padding: 12px 15px 12px 0;
    }
    .header__logo__img{
        max-width: 250px;
    }
    .faq-footer a {
        font-size: 14px;
        padding: 1px 0;
    }
    .faq-footer h3 {
        font-size: 20px;
    }
    .community ul li img{
        max-width: 23px;
    }
    .faq-footer img .header__logo__img{
        max-width: 260px;
    }
    .about-buttons{
        margin-top: 40px;
        max-width: 440px;
    }
    .about-buttons button{
        height: 44px;
        width: 190px;
        letter-spacing: 4px;
        font-size: 16px;
    }
    .s_1 .about-right h2 {
        margin-bottom: 27px;
    }
    .footer {
        padding-bottom: 5px;
    }
    .adobe-left{
        padding: 0 10px;
        width: 230px;
    }
    .about-right {
        padding: 0 10px;
        max-width: 545px;
    }
    .nav{
        right: 0;
        font-size: 13px;
    }
    .about-right h2, .border-effect {
        font-size: 34px;
    }
    body {
        font-size: 12px;
    }
    .header__right ul li svg{
        max-width: 23px;
    }
    .inner-header img{
        max-width: 200px;
    }
    .header__right ul li {
        margin: 0px 7px;
    }
    .header__right .faq-btn, .header__right .btn {
        margin-left: 30px;
        margin-right: 20px;
        padding: 8px 25px;
        font-size: 18px;
        letter-spacing: 5.16px;
    }
    .header__right .connect-btn{
        padding: 11px 25px;
        margin: 0;
    }
    .about-right p {
        line-height: 1.6;
        font-size: 12px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1299px){
    .container {
        width: 1180px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1499px){
    .total-tokan p:nth-child(1) {
        font-size: 14px;
    }
    .total-tokan p:nth-child(2) {
        font-size: 25px;
        line-height: 1.2;
    }
    .border-effect{
        margin-bottom: 30px;
    }
    .c-accordion__entry-header-link{
        font-size: 22px;
    }
    .c-accordion__entry-contents{
        font-size: 14px;
        padding:15px 25px;
    }
    .media-logo img {
        padding: 20px 0;
    }
    .img-width {
        width: 34%;
    }
    .s_3 .about-right {
        margin-left: 15px;
    }
    .media-logo{
        max-width: 1230px;
    }
    .nav{
        left: 50%;
        right: auto;
    }
    .roadmap-part{
        max-width: 660px;
    }
    .right-part-one{
        font-size: 13px;
        line-height: 27px;
    }
    .roadmap-date {
        letter-spacing: 4.16px;
        font-size: 17px;
    }
    .solo-part-sec p{
        font-size: 12px;
    }
    .solo-part-sec {
        max-width: 850px;
        margin: 0 0 0 0%;
    }
    .adobe-left.governamne-deatils {
        width: 400px;
        height: 450px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(6)::before{
        width: 122px;
        left: 53px;
        top: -14px;
        transform: rotate(-26deg);
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(5)::before{
        height: 110px;
        left: 32px;
        bottom: 70px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(4)::before{
        width: 134px;
        top: -13px;
        transform: rotate(28deg);
        right: 58px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(3)::before{
        width: 131px;
        left: -108px;
        top: 100px;
        transform: rotate(326deg);
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(2)::before{
        height: 111px;
        top: 68px;
    }
    .adobe-left.governamne-deatils .governamne_boxes:nth-child(1)::before{
        width: 117px;
        right: -106px;
        top: 80px;
    }
    .adobe-left.governamne-deatils img {
        width: 210px;
    }
    .adobe-left.governamne-deatils .governamne_boxes{
        width: 70px;
        height: 70px;
    }
    .dapps-top-section {
        max-width: 1040px;
        margin-right: 20%;
    }
    body {
        font-size: 13px;
    }
    .niftywarefare-content, .traxpot-content{
        line-height: 24px;
    }
    .traxpot-title, .niftywarefare-title{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
        letter-spacing: 6.16px;
    }
    .traxpot-img, .niftywarefare-img{
        height: 150px;
    }
    .faq-footer a {
        font-size: 14px;
        padding: 5px 0;
    }
    .faq-footer h3 {
        font-size: 22px;
    }
    .community ul li {
        padding: 12px 20px 12px 0;
    }
    .community ul li svg{
        height: 23px;
    }
    .faq-footer .header__logo__img{
        max-width: 230px;
    }
    .nav li:after{
        height: 56px;
    }
    .nav li{
        margin-bottom: 30px;
    }
    .s_1 .about-right h2 {
        margin-bottom: 27px;
    }
    .about-buttons{
        margin-top: 35px;
    }
    .about-buttons button {
        height: 44px;
        width: 230px;
        font-size: 17px;
    }
    .about-buttons {
        max-width: 520px;
    }
    .footer{
        padding-bottom: 15px;
    }
    .about-right{
        max-width: 615px;
        line-height: 1.6;
    }
    .adobe-left img {
        width: 330px;
    }
    .about-right h2,.border-effect{
        font-size: 38px;
        line-height: 1.2;
    }
    .about-right,.adobe-left{
        padding: 0 20px;
    }
    .about-right p{
        font-size: 12px;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1699px){
    .media-logo img {
        padding: 20px 0;
    }
    .faq-footer{
        max-width: 1220px;
    }
    .faq-footer .header__logo__img{
        max-width: 260px;
    }
    .c-accordion__entry-contents{
        padding: 25px;
        font-size: 14px;
    }
    .s_4 .adobe-left img {
        max-width: 410px;
    }
    .s_3 .about-right {
        margin-left: 5px;
    }
    .dapps-top-section{
        max-width: 1320px;
    }
    .adobe-left {
        padding: 0 20px;
    }
    .traxpot-img, .niftywarefare-img{
        height: 165px;
    }
    body {
        font-size: 15px;
    }
    .niftywarefare-content, .traxpot-content{
        line-height:27px;
    }
    .traxpot-title, .niftywarefare-title{
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .adobe-left img {
        max-width: 350px;
    }
    .about-right {
        padding: 0 20px;
    }
    .nav li:after{
        height: 70px;
    }
    .nav li{
        margin-bottom: 35px;
    }
    .footer{
        padding-bottom: 15px;
    }
    .about-right h2,.border-effect {
        font-size: 54px;
        margin-bottom: 40px;
    }
    .about-buttons{
        margin-top: 35px;
    }
}
@media screen and (max-width: 820px) {
    .adobe-left img {
        max-width: 220px;
    }
    .s_4 .adobe-left img {
        max-width: 280px;
    }
}